*.swp
README~
.gitignore~
*.out
*.tlog
*.obj
*.pdb
*.idb
*.sdf
*.ilk
*.log
*.lastbuildstate
*.suo
*.VC
*.VC.db
*.VC.opendb
*.csv

#*.sln
#*.vcxproj
#*.filters
*.cache
*.user
*.psess

*.vsp
bin
#build
